parameters:
    level: 5
    paths:
        - includes
        - tests
        - admin_agences.php
        - admin_utilisateurs.php
        - index.php
        - login.php
        - logout.php
        - modif_trajet.php
        - supprimer_trajet.php
        - trajets.php
    
    treatPhpDocTypesAsCertain: false

    reportUnmatchedIgnoredErrors: false

    ignoreErrors:
        - '#Undefined variable: \$pdo#'